<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #373737 ;" position="fixed" id="navbar">
  <div class="align-items-center container row">

    &nbsp;&nbsp;<i class="fa fa-align-justify link-light" aria-hidden="true"></i>&nbsp;&nbsp;


  </div>
  &nbsp;&nbsp;<img src="assets/YouTube.png"  class=" col-1" href="#" width="100%" height="100%">&nbsp;
  <div class=" container-fluid ">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light" type="submit"> <i class="fa fa-search" aria-hidden="true"></i></button>
    </form>

  </div>
    <div class="container-fluid">
      <div class="container row">

      </div>
      &nbsp;&nbsp; &nbsp;&nbsp;<i class="fa fa-video-camera link-light" aria-hidden="true" ></i>&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp; &nbsp;&nbsp;<i class="fa fa-th link-light" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp; &nbsp;&nbsp;<i class="fa fa-bell-o link-light" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp; &nbsp;&nbsp;<i class="fa fa-user-circle link-light" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;
    </div>

</nav>


<script>
  window.onscroll = function() {myFunction()};

  var navbar = document.getElementById("navbar");
  var sticky = navbar.offsetTop;

  function myFunction() {
    if (window.pageYOffset >= sticky) {
      navbar.classList.add("sticky")
    } else {
      navbar.classList.remove("sticky");
    }
  }
</script>
